{% extends "layout.html" %}
{% block content %}
<!-- Container -->
<div class="container-fluid">
    <!-- Row -->
    <div class="row justify-content-center py-5 my-5">
        <!-- Col -->
        <div class="col-12 col-lg-9 text-center py-5">
            <h1 id="welcome">Welcome</h1>
            <h1 id="title">Flask Application + OAuth & Google</h1>
            <!-- /.Form -->
            <a href="/google_login" class="btn btn-danger py-3 px-4"><i class="fab fa-google mr-3"></i>Login with google</a>
        </div>
        <!-- /.Col -->
    </div>
    <!-- /.Row -->
</div>
<!-- /.Container -->
{% endblock %}
